In [30]:
import pandas as pd
import sqlalchemy
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.widgets import TextBox
import scipy.stats as stats
from scipy.stats import ttest_ind
import statsmodels.api as sm
from statsmodels.formula.api import ols
from pathlib import Path
import plotly.graph_objects as go
import plotly.express as px
from ipywidgets import widgets, interactive
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [3]:
#Read in the historic data and store in a DataFrame
path = "data/HistoricalPollution.csv"
historic_df = pd.read_csv(path)

#Take a look at the data
historic_df

,Primary Key,CBSA,City,State,Pollutant,Trend Statistic,Number of Sites,1990,1991,1992,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,10420,Akron,OH,O3,4th Max,2,0.090,0.101,0.087,...,0.059,0.060,0.065,0.060,0.066,0.068,0.062,0.063,0.067,0.070
1,2,10420,Akron,OH,PM2.5,Weighted Annual Mean,3,NaN,NaN,NaN,...,9.700,9.900,10.400,8.200,7.900,7.900,8.200,7.900,8.000,7.100
2,3,10420,Akron,OH,PM2.5,98th Percentile,3,NaN,NaN,NaN,...,24.000,22.000,23.000,17.000,18.000,18.000,21.000,21.000,20.000,17.000
3,4,10420,Akron,OH,SO2,99th Percentile,1,161.000,183.000,181.000,...,23.000,21.000,14.000,8.000,3.000,6.000,3.000,4.000,5.000,6.000
4,5,10500,Albany,GA,PM2.5,Weighted Annual Mean,1,NaN,NaN,NaN,...,10.000,10.300,9.000,8.700,9.400,8.400,9.300,9.100,10.100,8.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,709,49700,Yuba City,CA,NO2,Annual Mean,1,17.000,17.000,17.000,...,10.000,8.000,7.000,7.000,7.000,7.000,6.000,6.000,5.000,7.000
709,710,49700,Yuba City,CA,NO2,98th Percentile,1,70.000,70.000,70.000,...,52.000,44.000,39.000,40.000,42.000,41.000,40.000,38.000,34.000,37.000
710,711,49700,Yuba City,CA,O3,4th Max,1,0.076,0.080,0.090,...,0.060,0.069,0.064,0.063,0.067,0.065,0.061,0.066,0.072,0.058
711,712,49700,Yuba City,CA,PM2.5,Weighted Annual Mean,1,NaN,NaN,NaN,...,8.200,9.400,9.600,8.100,9.300,10.300,8.400,16.400,14.500,10.700
712,713,49700,Yuba City,CA,PM2.5,98th Percentile,1,NaN,NaN,NaN,...,25.000,25.000,31.000,22.000,32.000,37.000,27.000,91.000,45.000,28.000

In [4]:
#store all the years as a list to call easier
years = ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

In [5]:
#Create a dataframe containing state, city, and year total pollutiion

state_df = (historic_df.groupby(['State', 'City'], sort=True, as_index=False)[years].sum())
state_df

,State,City,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AK,Anchorage,9.700,8.400,10.800,9.700,8.600,7.400,8.700,7.100,...,30.700,38.500,37.300,32.100,37.100,25.700,44.800,31.300,27.400,30.100
1,AK,Juneau,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,28.900,35.700,27.600,30.000,27.600,28.900,31.800,21.800,21.700,28.300
2,AL,Birmingham,142.493,157.173,148.484,181.183,139.977,121.498,99.994,117.984,...,87.065,84.364,113.268,73.670,70.562,69.265,66.471,61.961,68.861,63.064
3,AL,Daphne,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,25.400,25.900,26.600,21.200,26.400,24.100,22.500,24.900,22.300,22.300
4,AL,Decatur,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,24.600,30.300,25.800,20.400,23.700,23.400,21.600,23.100,33.000,29.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,WY,Gillette,37.000,37.000,24.000,18.000,34.000,28.000,32.000,36.000,...,64.000,47.000,78.000,50.000,95.000,39.000,39.000,61.000,84.000,72.000
241,WY,Laramie,0.045,0.047,0.042,0.047,0.042,0.047,0.046,0.048,...,0.069,0.065,0.064,0.064,0.066,0.070,0.065,0.066,0.072,0.067
242,WY,Riverton,87.000,98.000,90.000,75.000,75.000,50.000,29.000,36.000,...,75.800,83.700,61.200,58.800,73.400,71.300,67.000,105.300,98.500,81.800
243,WY,Rock Springs,41.800,50.000,43.500,35.700,32.000,32.800,32.200,33.000,...,37.000,29.300,35.300,30.700,45.800,45.000,35.000,69.800,47.300,46.200
244,WY,Sheridan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,23.700,25.500,32.500,29.900,32.700,28.200,24.000,40.400,35.500,35.500

In [51]:
#Making a new dataframe from the above containing the averages for a future line graph
state_avg = state_df.groupby('State').mean().reset_index()
state_avg.head()

/var/folders/yd/nx3j_v1j3hj2pbltnq5y9bb40000gn/T/ipykernel_48772/3824548273.py:2: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,State,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AK,4.850000,4.2000,5.400000,4.850000,4.300000,3.700000,4.350000,3.550000,4.200000,...,29.800000,37.100000,32.450000,31.050000,32.350000,27.300000,38.300000,26.550000,24.550000,29.200000
1,AL,25.095000,27.7115,24.592000,29.306375,23.715500,21.508750,18.120000,20.406375,21.689125,...,30.514000,32.127250,36.114625,27.252500,27.500375,27.114875,25.964250,27.372125,28.748875,27.363625
2,AR,0.050500,0.0480,0.053000,0.047000,0.048500,0.058000,0.054500,0.054000,0.053500,...,15.767000,16.162500,14.911500,14.259500,13.659000,15.214000,14.308000,13.157000,15.213500,14.511500
3,AZ,51.918400,42.4582,40.898200,41.258200,41.719400,47.800400,42.781200,49.617600,43.398600,...,70.117200,71.514800,47.254400,57.812600,62.915200,78.015400,46.892600,59.695600,71.015400,57.314000
4,CA,87.368143,86.8400,71.461107,71.010607,70.074679,73.083714,61.362036,60.860500,59.161286,...,79.676286,76.061071,71.457071,65.588286,84.593143,112.890643,65.724429,108.160893,83.341393,71.395857

In [7]:
state_avg.set_index('State', inplace=True)

In [8]:
#Transpose the data to build a line graph
state_avg_pose = state_avg.transpose()
state_avg_pose.head()

State,AK,AL,AR,AZ,CA,CO,CT,DE,FL,GA,...,SC,TN,TX,UT,VA,VT,WA,WI,WV,WY
1990,4.85,25.095000,0.0505,51.9184,87.368143,75.169833,29.110000,0.0,93.929750,15.021250,...,35.077333,2.84000,69.4105,42.361667,88.0790,37.719333,0.05000,15.190000,87.2324,33.1690
1991,4.20,27.711500,0.0480,42.4582,86.840000,70.037667,28.447000,0.0,73.391167,14.895000,...,35.070667,2.33475,69.2757,79.360667,91.0815,37.724333,0.04625,18.337429,102.2382,37.0094
1992,5.40,24.592000,0.0530,40.8982,71.461107,71.984000,26.425000,0.0,87.496500,14.894250,...,34.741000,3.58100,62.4444,69.691000,89.5780,38.918667,0.04800,15.903714,99.6256,31.5084
1993,4.85,29.306375,0.0470,41.2582,71.010607,78.750167,25.769333,0.0,70.589000,13.271125,...,23.077000,3.08925,66.4466,69.693333,106.0910,35.052667,0.04550,9.898000,86.2292,25.7494
1994,4.30,23.715500,0.0485,41.7194,70.074679,70.919167,32.096667,0.0,71.529250,11.518875,...,31.408667,5.08650,67.6758,34.691667,100.5835,31.752000,0.04675,10.186571,95.4338,28.2084

In [9]:
state_avg_pose.reset_index(inplace=True)

In [10]:
state_avg_pose.rename(columns={'index':'Year'})

State,Year,AK,AL,AR,AZ,CA,CO,CT,DE,FL,...,SC,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1990,4.85,25.095000,0.0505,51.9184,87.368143,75.169833,29.110000,0.0,93.929750,...,35.077333,2.84000,69.4105,42.361667,88.0790,37.719333,0.05000,15.190000,87.2324,33.1690
1,1991,4.20,27.711500,0.0480,42.4582,86.840000,70.037667,28.447000,0.0,73.391167,...,35.070667,2.33475,69.2757,79.360667,91.0815,37.724333,0.04625,18.337429,102.2382,37.0094
2,1992,5.40,24.592000,0.0530,40.8982,71.461107,71.984000,26.425000,0.0,87.496500,...,34.741000,3.58100,62.4444,69.691000,89.5780,38.918667,0.04800,15.903714,99.6256,31.5084
3,1993,4.85,29.306375,0.0470,41.2582,71.010607,78.750167,25.769333,0.0,70.589000,...,23.077000,3.08925,66.4466,69.693333,106.0910,35.052667,0.04550,9.898000,86.2292,25.7494
4,1994,4.30,23.715500,0.0485,41.7194,70.074679,70.919167,32.096667,0.0,71.529250,...,31.408667,5.08650,67.6758,34.691667,100.5835,31.752000,0.04675,10.186571,95.4338,28.2084
5,1995,3.70,21.508750,0.0580,47.8004,73.083714,64.785667,25.439000,0.0,63.718333,...,21.746667,3.59450,61.1855,34.361000,87.0840,26.584000,0.04525,10.621571,76.0372,22.1694
6,1996,4.35,18.120000,0.0545,42.7812,61.362036,63.401833,25.089000,0.0,61.117250,...,20.411667,3.09225,54.7548,47.028667,88.0785,26.581333,0.05050,9.474857,81.8332,18.6492
7,1997,3.55,20.406375,0.0540,49.6176,60.860500,56.550667,25.770333,0.0,61.671583,...,18.749000,3.34325,60.0464,38.359667,82.0900,32.818000,0.04450,13.758571,85.4320,21.0096
8,1998,4.20,21.689125,0.0535,43.3986,59.161286,45.738833,26.426667,0.0,67.006250,...,19.754667,2.85250,55.7203,25.026333,85.0910,26.516000,0.04725,8.761429,116.4368,24.3088
9,1999,3.90,23.934750,0.0605,47.8998,70.904786,57.601333,26.768000,0.0,65.749250,...,18.756667,4.59950,53.8600,30.359667,74.5920,18.487000,0.04225,9.336143,105.8398,21.3484
10,2000,30.90,83.673250,24.8095,74.7196,107.987429,73.302000,72.685667,47.2,96.115667,...,51.851333,4.84275,72.9597,63.231667,100.2305,37.580000,24.64400,45.371857,127.1944,48.7886
11,2001,34.25,56.981000,23.4000,68.3162,114.352964,76.385167,76.666000,47.0,89.755167,...,50.180333,4.58625,67.9428,80.727000,104.7390,34.419667,23.34300,43.190286,129.7734,46.8302
12,2002,30.85,51.205875,22.6580,63.1820,106.465679,72.355000,72.639667,60.1,80.041000,...,43.218000,4.09500,67.7384,73.963000,106.6450,39.756667,22.71950,38.604857,136.3164,49.7488
13,2003,32.35,52.017125,19.5035,75.2802,91.628786,67.056833,74.493000,43.7,73.236167,...,42.876667,2.08200,67.0863,65.259667,104.6285,38.515667,21.55000,38.360714,110.2342,43.6898
14,2004,37.95,53.290500,20.1475,50.1970,86.646643,68.984167,64.746000,43.6,77.194000,...,47.776667,4.07475,64.7533,86.322333,98.9730,37.381667,24.34825,38.281714,119.4276,48.7296
15,2005,38.30,58.441375,26.9055,59.0206,88.873179,61.287500,73.593333,48.2,75.828333,...,51.180333,4.58125,65.8329,58.364000,106.8290,37.580667,23.49375,48.432714,113.2126,43.6876
16,2006,42.85,52.945000,19.1585,71.3390,90.562429,57.705833,66.092000,42.9,76.704917,...,41.846667,4.33100,72.7729,57.760667,100.8785,31.611000,22.12350,43.182286,105.0314,47.1894
17,2007,36.20,55.918125,21.4435,61.1760,90.169214,67.487167,62.524667,43.1,74.102167,...,48.076333,4.58475,64.5671,86.294000,103.2290,32.584667,21.41850,45.044143,115.8332,48.6284
18,2008,35.40,47.116250,18.8525,61.5572,94.056393,64.153000,57.114667,39.3,64.249500,...,36.710667,3.82675,59.5450,87.826000,73.8270,27.847000,20.89025,42.765571,98.1894,42.6088
19,2009,38.20,37.085375,16.9465,59.8730,77.480500,55.500500,54.671667,30.5,55.052917,...,37.031000,3.06725,53.1353,91.323667,65.0140,25.742667,22.64175,42.194571,95.5846,45.8098
20,2010,38.70,42.627500,17.2005,48.6566,67.668714,58.835833,51.679667,30.3,55.655667,...,40.904333,3.32650,53.7873,72.891333,66.9260,23.943667,17.96475,40.766571,59.4286,42.5696
21,2011,32.75,41.194125,18.5710,77.6396,74.592821,56.204500,56.616667,32.6,49.189750,...,43.406667,3.07425,52.4503,53.356000,61.0725,25.705667,19.78825,35.768000,52.2690,42.3530
22,2012,35.95,34.207750,17.2215,62.2390,70.450214,64.972667,43.952333,29.2,46.046500,...,33.563000,3.07625,51.8771,43.955667,48.7230,19.211333,19.39225,34.644571,37.8300,47.3342
23,2013,29.80,30.514000,15.7670,70.1172,79.676286,60.704333,48.849333,32.1,43.594167,...,30.893333,2.81400,46.0235,97.720667,51.5100,15.841333,21.58825,32.395143,36.4662,40.1138
24,2014,37.10,32.127250,16.1625,71.5148,76.061071,61.135167,48.674000,32.2,48.002667,...,30.027667,2.56600,46.0894,49.091333,52.1115,19.973333,17.53975,34.868143,36.6868,37.1130
25,2015,32.45,36.114625,14.9115,47.2544,71.457071,56.502667,49.513000,30.7,39.475333,...,30.826333,2.31700,43.9455,46.124333,47.4120,16.909667,19.16750,31.466143,38.6076,41.4128
26,2016,31.05,27.252500,14.2595,57.8126,65.588286,56.634667,45.412333,26.6,37.042583,...,40.831000,2.31825,39.5491,49.025333,46.4645,11.709000,16.23875,21.154571,29.3072,33.8928
27,2017,32.35,27.500375,13.6590,62.9152,84.593143,53.685167,42.378333,24.7,44.570000,...,27.895333,2.06425,42.5210,54.059333,39.6605,11.275000,26.17350,19.451571,29.8450,49.3932
28,2018,27.30,27.114875,15.2140,78.0154,112.890643,54.702833,44.010000,24.5,38.403083,...,27.126667,2.06675,46.4238,55.360000,38.9120,12.509000,25.92525,22.039143,29.3654,36.7140
29,2019,38.30,25.964250,14.3080,46.8926,65.724429,57.633000,40.479000,26.6,42.942750,...,34.892000,1.81350,39.6112,37.091000,37.4600,12.870000,17.71325,23.149429,29.4452,33.0130
30,2020,26.55,27.372125,13.1570,59.6956,108.160893,73.236833,44.206000,20.4,42.849250,...,32.690000,1.80800,43.3887,51.593333,30.5540,12.836333,43.14025,20.453286,27.4630,55.3132
31,2021,24.55,28.748875,15.2135,71.0154,83.341393,62.355500,44.377000,24.4,43.307167,...,32.427667,1.81325,44.8309,61.327333,34.3100,12.174667,26.04550,26.052429,30.9244,53.0744
32,2022,29.20,27.363625,14.5115,57.3140,71.395857,45.719167,41.775333,24.4,47.242500,...,34.494333,1.56275,44.9805,48.758333,32.3090,11.371333,19.66850,21.623143,27.5246,47.1134

In [37]:
#Creating a dash app to display a line chart that shows overall pollution by year with a dropdown for each state

# Create a Dash app
appState = dash.Dash(__name__)


dropdown_options = [{'label': col, 'value': col} for col in state_avg_pose.columns[1:]]

# Define app layout
appState.layout = html.Div([
    dcc.Dropdown(
        id='dropdown',
        options=dropdown_options,
        value='AK'
    ),
    dcc.Graph(id='line-plot1')
])

# Define callback to update the line plot
@appState.callback(
    Output('line-plot1', 'figure'),
    [Input('dropdown', 'value')]
)
def update_line_plot(selected_column):
    fig = px.line(state_avg_pose, x='index', y=selected_column)

    return fig

# Run the app
if __name__ == '__main__':
    appState.run_server(debug=True, port=8051)

In [12]:
#Using the above table, perform a t-test for each state checking for significant difference at the 0.05 significance level between overall pollution in 1990 and 2022.

for state in state_df['State'].unique():
    data_1990 = state_df.loc[state_df['State'] == state, '1990']
    data_2022 = state_df.loc[state_df['State'] == state, '2022']

    t_statistic, p_value = ttest_ind(data_1990, data_2022)

    print(f'State: {state}')
    print(f't_statistic: {t_statistic}')
    print(f'p_value: {p_value}')
    if p_value < 0.05:
        print('There is a significant difference between pollution in 1990 and 2022')
    else:
        print('No significant difference between pollution in 1990 and 2022')

    print('-------------------------------')
    print('-------------------------------')

State: AK
t_statistic: -4.9363460764058535
p_value: 0.03867326921152213
There is a significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: AL
t_statistic: -0.11357862409491835
p_value: 0.9111845088638956
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: AR
t_statistic: -1.000655286369577
p_value: 0.42239759359520157
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: AZ
t_statistic: -0.1255359675859275
p_value: 0.9031966845085668
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: CA
t_statistic: 0.6730016772679176
p_value: 0.5038163162763069
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: CO
t_statistic: 0.7646600593867214
p_value: 0.4621369921115974
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: CT
t_statistic: -0.38686535190738414
p_value: 0.7185561555216929
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: DE
t_statistic: nan
p_value: nan
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: FL
t_statistic: 1.2249296470349609
p_value: 0.2335557612652524
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: GA
t_statistic: -0.7074748941829835
p_value: 0.4908816520235195
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: HI
t_statistic: 0.19372646665633902
p_value: 0.8642821542234747
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: IA
t_statistic: 0.4978693593827844
p_value: 0.6362946335133656
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: IL
t_statistic: 0.8093770257259869
p_value: 0.44919606443805116
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: IN
t_statistic: 1.0246949035951578
p_value: 0.3190818710040586
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: KS
t_statistic: nan
p_value: nan
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: KY
t_statistic: 0.7599683588759583
p_value: 0.4648131150592921
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: LA
t_statistic: -0.1373661211793839
p_value: 0.8930193192998653
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: MA
t_statistic: 0.5875176222264878
p_value: 0.616351867558789
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: MD
t_statistic: nan
p_value: nan
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: ME
t_statistic: 7.2254845594357215
p_value: 0.0019461011050446388
There is a significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: MI
t_statistic: -0.48964300197775074
p_value: 0.6310319133426683
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: MN
t_statistic: -17.275862068965527
p_value: 0.003333838127825218
There is a significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: MO
t_statistic: 0.5783530317722906
p_value: 0.6214730545532647
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: MT
t_statistic: 0.773877246437726
p_value: 0.4821979830673684
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NC
t_statistic: -0.35254515838805045
p_value: 0.7281174893859048
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: ND
t_statistic: 0.11714616938481347
p_value: 0.9174478853715126
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NE
t_statistic: nan
p_value: nan
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NH
t_statistic: -1.6697803396379869
p_value: 0.14600153600820723
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NJ
t_statistic: -1.9522473509754392
p_value: 0.12264045324586557
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NM
t_statistic: 0.30233676173540136
p_value: 0.7909396732894888
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NV
t_statistic: -0.5594629481675436
p_value: 0.632139101941487
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: NY
t_statistic: 0.7299470357626285
p_value: 0.4774596354602989
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: OH
t_statistic: 0.9011629656360328
p_value: 0.37645643440280074
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: OK
t_statistic: 0.2537919289153742
p_value: 0.8121677916713557
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: OR
t_statistic: -0.8621837734692369
p_value: 0.4217036312455214
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: PA
t_statistic: 1.3972217561406066
p_value: 0.1741580278817665
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: PR
t_statistic: nan
p_value: nan
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: SC
t_statistic: 0.013718955014294596
p_value: 0.9897111871632187
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: TN
t_statistic: 0.4077338758955781
p_value: 0.6976186885504124
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: TX
t_statistic: 0.6429293690272957
p_value: 0.5283757396905615
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: UT
t_statistic: -0.11860345656278366
p_value: 0.9113071312253939
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: VA
t_statistic: 5.535500449306691
p_value: 0.03111981966705642
There is a significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: VT
t_statistic: 0.6703633777608314
p_value: 0.5393421869493641
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: WA
t_statistic: -1.7308739723764834
p_value: 0.13419270148910467
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: WI
t_statistic: -0.39859071446024236
p_value: 0.697196051845921
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: WV
t_statistic: 1.0741685312253446
p_value: 0.31407499408576206
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------
State: WY
t_statistic: -0.64472128985744
p_value: 0.5371527216951135
No significant difference between pollution in 1990 and 2022
-------------------------------
-------------------------------

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

divide by zero encountered in divide

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

invalid value encountered in scalar multiply

/var/folders/yd/nx3j_v1j3hj2pbltnq5y9bb40000gn/T/ipykernel_48772/3036444509.py:7: RuntimeWarning:

Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.

For the following we will look at each pollutant seperately.

In [13]:
#Create a dataframe containing only the pollutant O3
O3 = ['O3']
O3_df = historic_df[historic_df['Pollutant'].isin(O3) == True]
state_O3 = (O3_df.groupby(['State', 'City'], sort=True, as_index=False)[years].sum())
state_O3

,State,City,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AL,Birmingham,0.093,0.073,0.084,0.083,0.077,0.098,0.094,0.084,...,0.065,0.064,0.068,0.070,0.062,0.065,0.071,0.061,0.061,0.064
1,AL,Fort Payne,0.023,0.009,0.013,0.022,0.022,0.026,0.028,0.030,...,0.062,0.062,0.065,0.064,0.058,0.064,0.062,0.057,0.058,0.061
2,AL,Huntsville,0.079,0.082,0.087,0.087,0.075,0.080,0.081,0.086,...,0.064,0.064,0.063,0.066,0.063,0.065,0.063,0.057,0.061,0.065
3,AL,Mobile,0.087,0.061,0.076,0.074,0.072,0.079,0.081,0.081,...,0.060,0.068,0.060,0.062,0.065,0.065,0.059,0.054,0.057,0.061
4,AL,Montgomery,0.078,0.067,0.076,0.085,0.078,0.087,0.076,0.070,...,0.061,0.060,0.061,0.058,0.055,0.060,0.059,0.048,0.054,0.058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,WI,Wausau,0.081,0.081,0.081,0.065,0.064,0.075,0.070,0.069,...,0.063,0.064,0.063,0.068,0.060,0.065,0.059,0.055,0.060,0.057
171,WI,Whitewater,0.077,0.095,0.086,0.079,0.081,0.086,0.083,0.081,...,0.067,0.073,0.067,0.072,0.065,0.070,0.062,0.074,0.069,0.070
172,WV,Charleston,0.079,0.090,0.055,0.063,0.075,0.091,0.078,0.075,...,0.067,0.067,0.067,0.069,0.067,0.066,0.065,0.057,0.065,0.061
173,WV,Parkersburg,0.083,0.101,0.073,0.083,0.094,0.095,0.088,0.085,...,0.064,0.067,0.071,0.067,0.058,0.061,0.061,0.058,0.057,0.062
174,WY,Laramie,0.045,0.047,0.042,0.047,0.042,0.047,0.046,0.048,...,0.069,0.065,0.064,0.064,0.066,0.070,0.065,0.066,0.072,0.067

In [71]:
O3_avg = state_O3.groupby('State').mean().reset_index()
O3_avg.head()

/var/folders/yd/nx3j_v1j3hj2pbltnq5y9bb40000gn/T/ipykernel_48772/1882764809.py:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,State,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AL,0.072000,0.058400,0.067200,0.070200,0.064800,0.074000,0.072000,0.070200,0.082600,...,0.062400,0.063600,0.063400,0.064000,0.060600,0.063800,0.062800,0.055400,0.058200,0.061800
1,AR,0.050500,0.048000,0.053000,0.047000,0.048500,0.058000,0.054500,0.054000,0.053500,...,0.067000,0.062500,0.061500,0.059500,0.059000,0.064000,0.058000,0.057000,0.063500,0.061500
2,AZ,0.073000,0.072750,0.072750,0.072750,0.074250,0.075500,0.076500,0.072000,0.073250,...,0.071500,0.068500,0.068000,0.065750,0.069000,0.069250,0.065750,0.069500,0.069250,0.067500
3,CA,0.086095,0.086667,0.086238,0.085571,0.085286,0.087810,0.087476,0.075905,0.086476,...,0.068381,0.071905,0.071333,0.070095,0.071810,0.068476,0.065905,0.071667,0.069476,0.065905
4,CO,0.073000,0.075333,0.068000,0.067000,0.071667,0.071333,0.070333,0.068000,0.077667,...,0.075333,0.070333,0.072000,0.069333,0.070333,0.072333,0.066000,0.073667,0.077667,0.071667

In [14]:
#Using the above table, perform a t-test for each state checking for significant difference at the 0.05 significance level between O3 pollution in 1990 and 2022.
#If values return "nan" it means there was only one record for that state, which does not allow for a t-test.

for state in state_O3['State'].unique():
    data_1990 = state_O3.loc[state_O3['State'] == state, '1990']
    data_2022 = state_O3.loc[state_O3['State'] == state, '2022']

    t_statistic, p_value = ttest_ind(data_1990, data_2022)

    print(f'State: {state}')
    print(f't_statistic: {t_statistic}')
    print(f'p_value: {p_value}')
    if p_value < 0.05:
        print('There is a significant difference in O3 pollution between 1990 and 2022')
        if t_statistic > 0:
            print('There was a significant decrease in O3 pollution between 1990 and 2022')
        else:
            print('There was a significant increase in O3 pollution between 1990 and 2022')
            
    else:
        print('No significant difference in O3 pollution between 1990 and 2022')


    print('-------------------------------')
    print('-------------------------------')

State: AL
t_statistic: 0.8085567273852998
p_value: 0.4421494075410175
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: AR
t_statistic: -0.3724002529860428
p_value: 0.7453539960010644
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: AZ
t_statistic: 1.510966203435577
p_value: 0.1815461476982608
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CA
t_statistic: 3.568194407742485
p_value: 0.0009515163995818402
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CO
t_statistic: 0.3429971702850194
p_value: 0.7488684500235252
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CT
t_statistic: 5.9355935135676345
p_value: 0.0040390509285917085
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: FL
t_statistic: 6.431961910182592
p_value: 4.710095335630148e-06
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: GA
t_statistic: 6.656402354702752
p_value: 0.0218330248729331
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: HI
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: IL
t_statistic: 4.6864236732203075
p_value: 0.0033733429323524115
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: IN
t_statistic: -0.2535834109941449
p_value: 0.8049548039079895
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: KS
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: KY
t_statistic: 3.424834305798305
p_value: 0.0064945279323500174
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: LA
t_statistic: 5.164371375813041
p_value: 0.0020858223486902084
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MA
t_statistic: 13.799999999999988
p_value: 0.005209996893511737
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MD
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: ME
t_statistic: 7.2254845594357215
p_value: 0.0019461011050446388
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MI
t_statistic: 0.7994462520048948
p_value: 0.4426068505176024
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MO
t_statistic: 0.12126781251816658
p_value: 0.9145642342283238
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MT
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NC
t_statistic: 9.378044168071527
p_value: 2.3767849581751717e-08
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: ND
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NE
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NH
t_statistic: 5.924843760379305
p_value: 0.004065922725412005
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NJ
t_statistic: 0.7311785993261005
p_value: 0.5407312885989884
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NM
t_statistic: -0.565685424949238
p_value: 0.6286093236458963
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NV
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NY
t_statistic: 2.0296164522750653
p_value: 0.0651724434979782
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OH
t_statistic: 2.57501984555455
p_value: 0.01807627657784111
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OK
t_statistic: 4.109974682633934
p_value: 0.05441315690970773
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OR
t_statistic: 3.126393494617377
p_value: 0.03530792430105081
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: PA
t_statistic: 1.2083805317616598
p_value: 0.23777690551277944
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: SC
t_statistic: 1.7018403435356093
p_value: 0.16400088756390385
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: TN
t_statistic: 16.494968004383892
p_value: 3.164619450097944e-06
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: TX
t_statistic: 4.872255371340957
p_value: 0.0001694819477338598
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: UT
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: VA
t_statistic: 4.850712500726656
p_value: 0.03996927852536139
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: VT
t_statistic: 3.142857142857141
p_value: 0.08807066048135398
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: WA
t_statistic: 0.9321451611966973
p_value: 0.4040293917925512
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: WI
t_statistic: 3.020979276571371
p_value: 0.02336762634154002
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: WV
t_statistic: 9.458889376416979
p_value: 0.010992897785101232
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: WY
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------

/var/folders/yd/nx3j_v1j3hj2pbltnq5y9bb40000gn/T/ipykernel_48772/2516471284.py:8: RuntimeWarning:

Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

divide by zero encountered in divide

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

invalid value encountered in scalar multiply

In [15]:
#Create a dataframe containing only PM2.5 and continue for each pollutant
pm_2 = ['PM2.5']
pm25_df = historic_df[historic_df['Pollutant'].isin(pm_2) == True]
state_pm25 = (pm25_df.groupby(['State', 'City'], sort=True, as_index=False)[years].sum())
state_pm25

,State,City,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AK,Anchorage,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27.6,36.0,34.5,29.1,33.6,23.0,42.4,28.3,25.2,27.7
1,AK,Juneau,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28.9,35.7,27.6,30.0,27.6,28.9,31.8,21.8,21.7,28.3
2,AL,Birmingham,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,31.3,32.9,30.3,26.2,29.5,28.0,27.2,27.8,32.8,28.2
3,AL,Daphne,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.4,25.9,26.6,21.2,26.4,24.1,22.5,24.9,22.3,22.3
4,AL,Decatur,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,24.6,30.3,25.8,20.4,23.7,23.4,21.6,23.1,33.0,29.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,WV,Fairmont,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27.3,27.5,28.5,25.6,22.7,22.4,23.6,23.4,22.3,22.1
165,WV,Morgantown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27.9,25.6,28.2,23.4,25.3,25.9,22.2,22.2,28.7,21.0
166,WV,Parkersburg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.4,27.6,34.3,21.9,26.1,24.7,23.7,22.0,26.9,22.4
167,WY,Riverton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36.8,32.7,26.2,28.8,34.4,29.3,33.0,44.3,37.5,20.8
168,WY,Sheridan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.7,25.5,32.5,29.9,32.7,28.2,24.0,40.4,35.5,35.5

In [16]:
SO2 = ['SO2']
SO2_df = historic_df[historic_df['Pollutant'].isin(SO2) == True]
state_SO2 = (SO2_df.groupby(['State', 'City'], sort=True, as_index=False)[years].sum())
state_SO2.head()

,State,City,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AL,Birmingham,75.0,81.0,89.0,113.0,85.0,65.0,54.0,60.0,...,22.0,17.0,17.0,11.0,12.0,11.0,10.0,5.0,7.0,6.0
1,CA,San Francisco,30.0,25.0,20.0,25.0,25.0,30.0,21.0,25.0,...,9.0,12.0,8.0,9.0,9.0,10.0,10.0,8.0,9.0,7.0
2,CA,Santa Maria,13.0,13.0,15.0,13.0,6.0,3.0,7.0,9.0,...,3.0,4.0,2.0,2.0,1.0,2.0,3.0,3.0,2.0,2.0
3,CO,Denver,84.0,85.0,117.0,105.0,92.0,98.0,86.0,86.0,...,34.0,16.0,15.0,14.0,13.0,7.0,6.0,6.0,6.0,5.0
4,FL,Jacksonville,239.0,108.0,113.0,109.0,120.0,140.0,74.0,82.0,...,33.0,37.0,27.0,25.0,20.0,22.0,24.0,28.0,20.0,20.0

In [17]:
#Using the above table, perform a t-test for each state checking for significant difference at the 0.05 significance level between SO2 pollution in 1990 and 2022. 
#If values return "nan" it means there was only one record for that state, which does not allow for a t-test.

for state in state_SO2['State'].unique():
    data_1990 = state_SO2.loc[state_SO2['State'] == state, '1990']
    data_2022 = state_SO2.loc[state_SO2['State'] == state, '2022']

    t_statistic, p_value = ttest_ind(data_1990, data_2022)

    print(f'State: {state}')
    print(f't_statistic: {t_statistic}')
    print(f'p_value: {p_value}')
    if p_value < 0.05:
        print('There is a significant difference in SO2 pollution between 1990 and 2022')
        if t_statistic > 0:
            print('There was a significant decrease in SO2 pollution between 1990 and 2022')
        else:
            print('There was a significant increase in SO2 pollution between 1990 and 2022')
            
    else:
        print('No significant difference in SO2 pollution between 1990 and 2022')


    print('-------------------------------')
    print('-------------------------------')

State: AL
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CA
t_statistic: 1.9187310031425413
p_value: 0.19502666952235664
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CO
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: FL
t_statistic: 2.395663925289263
p_value: 0.03759311611049655
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: GA
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: HI
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: IA
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: IL
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: IN
t_statistic: 3.189490855275489
p_value: 0.033232377737161256
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: KY
t_statistic: 1.533797902270502
p_value: 0.26481446552246346
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: LA
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MA
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MI
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MO
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MT
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NC
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: ND
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NY
t_statistic: 3.457490968926683
p_value: 0.025876913647973766
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OH
t_statistic: 6.2692536105831005
p_value: 0.0033036403878762017
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OK
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: PA
t_statistic: 6.443607421022324
p_value: 0.00019965929459688593
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: TX
t_statistic: 2.4654204914224787
p_value: 0.06928665172497737
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: VA
t_statistic: 1.9996440964470443
p_value: 0.1835518600311091
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: VT
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: WI
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: WV
t_statistic: 4.303591392825822
p_value: 0.04997979897469444
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------

/var/folders/yd/nx3j_v1j3hj2pbltnq5y9bb40000gn/T/ipykernel_48772/3386300237.py:8: RuntimeWarning:

Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

divide by zero encountered in divide

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

invalid value encountered in scalar multiply

In [18]:
NO2 = ['NO2']
NO2_df = historic_df[historic_df['Pollutant'].isin(NO2) == True]
NO2_df

,Primary Key,CBSA,City,State,Pollutant,Trend Statistic,Number of Sites,1990,1991,1992,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
10,11,10740,Albuquerque,NM,NO2,Annual Mean,1,18.0,2.0,21.0,...,12.0,12.0,11.0,10.0,10.0,10.0,9.0,8.0,8.0,9.0
11,12,10740,Albuquerque,NM,NO2,98th Percentile,1,72.0,77.0,83.0,...,45.0,42.0,43.0,44.0,45.0,45.0,44.0,41.0,44.0,44.0
35,36,12060,Atlanta,GA,NO2,Annual Mean,1,15.0,14.0,14.0,...,9.0,11.0,10.0,11.0,9.0,8.0,9.0,8.0,8.0,8.0
44,45,12540,Bakersfield,CA,NO2,Annual Mean,2,16.0,17.0,17.0,...,10.0,9.0,8.0,8.0,7.0,8.0,7.0,7.0,7.0,7.0
45,46,12540,Bakersfield,CA,NO2,98th Percentile,2,65.0,65.0,60.0,...,42.0,41.0,35.0,32.0,33.0,33.0,34.0,30.0,30.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,49180,Winston,NC,NO2,98th Percentile,1,61.0,56.0,57.0,...,37.0,41.0,39.0,36.0,38.0,35.0,34.0,30.0,32.0,35.0
702,703,49620,York,PA,NO2,Annual Mean,1,22.0,21.0,20.0,...,10.0,11.0,10.0,10.0,8.0,6.0,7.0,7.0,8.0,9.0
703,704,49620,York,PA,NO2,98th Percentile,1,81.0,69.0,65.0,...,39.0,45.0,52.0,47.0,42.0,41.0,40.0,39.0,40.0,39.0
708,709,49700,Yuba City,CA,NO2,Annual Mean,1,17.0,17.0,17.0,...,10.0,8.0,7.0,7.0,7.0,7.0,6.0,6.0,5.0,7.0
709,710,49700,Yuba City,CA,NO2,98th Percentile,1,70.0,70.0,70.0,...,52.0,44.0,39.0,40.0,42.0,41.0,40.0,38.0,34.0,37.0

In [19]:
CO = ['CO']
CO_df = historic_df[historic_df['Pollutant'].isin(CO) == True]
state_CO = (CO_df.groupby(['State', 'City'], sort=True, as_index=False)[years].sum())
state_CO

,State,City,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AK,Anchorage,9.7,8.4,10.8,9.7,8.6,7.4,8.7,7.1,...,3.1,2.5,2.8,3.0,3.5,2.7,2.4,3.0,2.2,2.4
1,AL,Birmingham,6.4,6.1,7.4,7.1,6.9,6.4,4.9,5.9,...,1.7,2.4,1.9,1.4,1.0,1.2,1.2,1.1,1.0,0.8
2,AZ,Phoenix,6.6,6.7,7.6,6.4,7.4,7.4,6.5,6.2,...,2.0,2.1,1.9,1.9,2.2,2.0,1.7,1.9,1.9,1.7
3,AZ,Tucson,6.5,5.7,5.8,6.0,5.5,5.9,5.1,4.4,...,1.1,1.0,1.0,0.9,1.0,0.8,0.6,0.8,0.7,0.7
4,CA,Fresno,4.8,4.8,3.6,3.4,3.7,3.6,3.5,2.9,...,1.4,1.1,1.0,1.3,1.2,1.3,1.0,2.2,1.1,1.0
5,CA,Los Angeles,8.3,8.0,6.9,5.8,7.2,7.2,5.8,5.4,...,1.7,1.6,1.6,1.3,1.5,1.4,1.3,1.5,1.4,1.2
6,CA,Riverside,4.4,5.9,3.8,3.7,3.7,3.7,3.1,3.3,...,1.2,1.6,1.1,1.3,1.0,1.0,0.7,1.1,1.0,0.9
7,CA,Sacramento,9.7,7.8,6.9,7.4,7.4,5.4,5.0,5.7,...,2.1,1.7,1.9,1.7,1.6,3.3,1.2,2.0,1.1,1.1
8,CA,San Francisco,5.4,5.6,4.6,4.2,4.0,3.1,3.3,3.1,...,1.2,1.2,1.1,1.0,1.2,1.6,0.9,1.6,0.9,0.9
9,CA,Santa Maria,1.6,1.3,1.4,1.6,1.7,1.2,1.2,1.1,...,0.6,0.6,0.5,3.2,1.3,0.7,0.5,0.7,0.6,0.6
10,CA,Vallejo,7.9,7.9,6.1,6.9,6.1,5.1,4.5,4.9,...,2.0,2.0,1.8,1.8,1.9,2.1,1.5,1.7,1.6,1.6
11,CO,Denver,9.3,8.2,10.8,7.7,7.3,7.3,5.6,4.9,...,2.3,1.9,1.9,1.6,1.4,2.1,1.5,1.5,1.4,1.4
12,CO,Fort Collins,7.0,9.8,6.9,6.6,6.0,5.2,5.1,5.2,...,1.4,1.4,1.4,1.3,1.2,1.6,1.3,1.1,1.0,1.1
13,FL,Miami,5.2,6.5,5.9,5.0,3.9,5.2,4.3,3.5,...,1.0,1.3,1.1,1.0,1.1,1.1,1.2,0.9,1.1,1.1
14,FL,Orlando,4.2,2.5,3.3,3.3,2.7,2.7,2.4,2.8,...,1.0,1.5,1.2,1.2,1.4,1.0,0.7,0.9,0.9,0.9
15,HI,Urban Honolulu,1.7,1.6,1.9,2.0,1.9,1.5,1.3,1.4,...,1.1,1.2,1.3,1.2,1.0,1.6,0.6,0.5,0.6,0.6
16,LA,Baton Rouge,4.6,4.6,4.6,9.0,4.6,3.4,4.7,5.4,...,1.8,1.3,1.2,1.1,1.0,1.7,0.9,0.8,0.9,0.9
17,MI,Detroit,4.4,4.2,3.7,3.8,5.2,3.4,2.8,2.4,...,1.1,1.1,1.1,1.1,1.6,1.6,1.4,1.2,1.3,1.1
18,MI,Grand Rapids,3.5,4.0,3.2,3.2,4.0,4.6,3.3,2.4,...,1.0,0.9,1.2,0.9,1.0,0.9,1.3,1.1,1.1,1.2
19,NM,Albuquerque,5.1,5.5,4.4,5.0,4.5,3.8,4.1,3.5,...,0.9,1.2,1.4,1.2,1.0,1.0,1.0,0.9,0.8,0.9
20,NV,Reno,9.5,8.9,7.6,6.0,7.0,5.5,5.9,6.4,...,2.4,2.4,2.0,1.9,2.2,1.6,1.5,1.8,2.0,1.8
21,NY,Buffalo,3.5,3.8,6.1,4.4,4.2,3.1,3.7,3.3,...,1.3,1.3,1.5,0.9,1.0,0.7,0.7,0.8,0.7,0.7
22,NY,New York,8.0,9.1,6.4,5.8,8.6,7.0,5.5,4.7,...,1.8,2.0,1.7,2.0,1.4,2.2,1.4,1.8,1.8,1.8
23,OH,Cleveland,6.6,6.6,6.6,4.2,7.7,6.3,9.4,6.1,...,4.6,3.7,2.9,3.9,3.3,3.1,2.3,2.2,2.1,2.5
24,OR,Portland,6.3,8.1,5.6,6.7,5.7,4.7,5.2,3.6,...,1.8,1.3,1.9,1.2,1.1,1.6,1.4,14.1,1.4,1.5
25,PA,Johnstown,3.7,4.8,4.4,4.2,4.1,3.5,4.8,2.7,...,1.6,1.2,1.1,0.7,0.6,1.0,1.3,0.9,0.6,1.1
26,PA,Scranton,3.7,3.5,3.1,2.8,2.8,2.6,3.5,2.8,...,1.3,1.0,1.2,0.9,0.7,1.0,0.8,0.8,0.9,0.9
27,TX,Houston,5.3,4.7,5.4,4.7,4.0,3.3,5.1,3.7,...,1.1,1.1,1.0,1.0,0.9,1.2,1.3,1.0,1.3,1.3
28,VT,Rutland,4.0,4.0,3.6,3.0,4.1,4.6,3.6,3.3,...,1.3,0.9,1.4,0.7,0.7,0.9,1.0,0.8,0.6,0.8

In [20]:
#Using the above table, perform a t-test for each state checking for significant difference at the 0.05 significance level between CO pollution in 1990 and 2022. 
#If values return "nan" it means there was only one record for that state, which does not allow for a t-test.

for state in state_CO['State'].unique():
    data_1990 = state_CO.loc[state_CO['State'] == state, '1990']
    data_2022 = state_CO.loc[state_CO['State'] == state, '2022']

    t_statistic, p_value = ttest_ind(data_1990, data_2022)

    print(f'State: {state}')
    print(f't_statistic: {t_statistic}')
    print(f'p_value: {p_value}')
    if p_value < 0.05:
        print('There is a significant difference in CO pollution between 1990 and 2022')
        if t_statistic > 0:
            print('There was a significant decrease in CO pollution between 1990 and 2022')
        else:
            print('There was a significant increase in CO pollution between 1990 and 2022')
            
    else:
        print('No significant difference in O3 pollution between 1990 and 2022')


    print('-------------------------------')
    print('-------------------------------')

State: AK
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: AL
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: AZ
t_statistic: 10.646897935246884
p_value: 0.008706686994593281
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CA
t_statistic: 4.705281174633279
p_value: 0.0005096693829078108
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: CO
t_statistic: 5.949602467117328
p_value: 0.02710695616039529
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: FL
t_statistic: 7.256297000112809
p_value: 0.01846749820701158
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: HI
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: LA
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: MI
t_statistic: 6.184165460191405
p_value: 0.025165126648092114
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NM
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NV
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: NY
t_statistic: 1.942798012993555
p_value: 0.19151529728417227
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OH
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: OR
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: PA
t_statistic: 26.999999999999993
p_value: 0.0013689260353326575
There is a significant difference in O3 pollution between 1990 and 2022
There was a significant decrease in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: TX
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------
State: VT
t_statistic: nan
p_value: nan
No significant difference in O3 pollution between 1990 and 2022
-------------------------------
-------------------------------

/var/folders/yd/nx3j_v1j3hj2pbltnq5y9bb40000gn/T/ipykernel_48772/668419569.py:8: RuntimeWarning:

Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

divide by zero encountered in divide

/Users/jesserinskeys/anaconda3/envs/dev/lib/python3.10/site-packages/scipy/stats/_stats_py.py:1214: RuntimeWarning:

invalid value encountered in scalar multiply

In [21]:
pm10 = ['PM10']
pm10_df = historic_df[historic_df['Pollutant'].isin(pm10) == True]
pm10_df.head()

,Primary Key,CBSA,City,State,Pollutant,Trend Statistic,Number of Sites,1990,1991,1992,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
13,14,10740,Albuquerque,NM,PM10,2nd Max,1,43.0,45.0,37.0,...,92.0,106.0,44.0,63.0,46.0,60.0,49.0,67.0,85.0,100.0
73,74,13820,Birmingham,AL,PM10,2nd Max,1,61.0,70.0,52.0,...,32.0,32.0,64.0,35.0,28.0,29.0,28.0,28.0,28.0,28.0
84,85,14500,Boulder,CO,PM10,2nd Max,1,84.0,69.0,69.0,...,44.0,55.0,42.0,41.0,38.0,57.0,50.0,65.0,51.0,39.0
113,114,16700,Charleston,SC,PM10,2nd Max,1,93.0,93.0,93.0,...,34.0,30.0,39.0,66.0,29.0,31.0,54.0,45.0,40.0,53.0
122,123,17460,Cleveland,OH,PM10,2nd Max,4,93.3,83.5,73.0,...,37.3,33.5,35.8,44.5,35.3,38.3,37.3,30.9,33.5,38.5

In [22]:

#create a dataframe summing the total pollutants in each city by year
city_total_df = (historic_df.groupby('City', sort=True, as_index=False)[years].sum())

In [23]:
#Convert list of cities to be used in a dropdown menu for future plots
city_list = city_total_df['City'].tolist()

['Akron',
 'Albany',
 'Albuquerque',
 'Altoona',
 'Americus',
 'Anchorage',
 'Ann Arbor',
 'Appleton',
 'Arkadelphia',
 'Asheville',
 'Ashtabula',
 'Athens',
 'Atlanta',
 'Atlantic City',
 'Augusta',
 'Austin',
 'Bakersfield',
 'Baltimore',
 'Barnstable Town',
 'Baton Rouge',
 'Bay City',
 'Beaumont',
 'Bellingham',
 'Bennington',
 'Billings',
 'Birmingham',
 'Bishop',
 'Bismarck',
 'Boulder',
 'Bowling Green',
 'Bridgeport',
 'Brunswick',
 'Buffalo',
 'Burlington',
 'Butte',
 'Canton',
 'Cape Coral',
 'Charleston',
 'Chico',
 'Clarksburg',
 'Clearlake',
 'Cleveland',
 'Clinton',
 'Columbia',
 'Columbus',
 'Concord',
 'Corning',
 'Corpus Christi',
 'Cullowhee',
 'Dallas',
 'Daphne',
 'Dayton',
 'Decatur',
 'Deltona',
 'Denver',
 'Des Moines',
 'Detroit',
 'Dickinson',
 'Dover',
 'Durango',
 'Durham',
 'Effingham',
 'El Centro',
 'El Paso',
 'Elizabethtown',
 'Erie',
 'Eugene',
 'Fairmont',
 'Fayetteville',
 'Flagstaff',
 'Flint',
 'Fort Collins',
 'Fort Payne',
 'Fort Wayne',
 'Fresno',
 'Gadsden',
 'Gainesville',
 'Gettysburg',
 'Gillette',
 'Grand Rapids',
 'Greeley',
 'Green Bay',
 'Greensboro',
 'Hammond',
 'Hanford',
 'Harrisburg',
 'Hartford',
 'Hickory',
 'Holland',
 'Houma',
 'Houston',
 'Huntsville',
 'Indianapolis',
 'Iowa City',
 'Ithaca',
 'Jacksonville',
 'Jasper',
 'Johnstown',
 'Juneau',
 'Kahului',
 'Kalamazoo',
 'Kalispell',
 'Keene',
 'Klamath Falls',
 'Knoxville',
 'Laconia',
 'Lake Charles',
 'Lakeland',
 'Lancaster',
 'Lansing',
 'Laramie',
 'Las Cruces',
 'Las Vegas',
 'Lexington',
 'Lima',
 'Lincoln',
 'Little Rock',
 'Longview',
 'Los Angeles',
 'Macon',
 'Madison',
 'Manchester',
 'Marietta',
 'Marshall',
 'McAlester',
 'Medford',
 'Merced',
 'Miami',
 'Michigan City',
 'Middlesborough',
 'Milwaukee',
 'Mobile',
 'Modesto',
 'Monroe',
 'Montgomery',
 'Morgantown',
 'Morristown',
 'Muncie',
 'Muscatine',
 'Muskegon',
 'Napa',
 'Nashville',
 'New Castle',
 'New Haven',
 'New Orleans',
 'New York',
 'Nogales',
 'North Port',
 'Ogden',
 'Oklahoma City',
 'Orlando',
 'Owensboro',
 'Oxford',
 'Oxnard',
 'Palatka',
 'Palm Bay',
 'Parkersburg',
 'Pensacola',
 'Peoria',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Platteville',
 'Portland',
 'Portsmouth',
 'Provo',
 'Raleigh',
 'Redding',
 'Reno',
 'Richmond',
 'Riverside',
 'Riverton',
 'Roanoke',
 'Rochester',
 'Rock Springs',
 'Rockford',
 'Rockland',
 'Rocky Mount',
 'Rutland',
 'Sacramento',
 'Salinas',
 'Salt Lake City',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'San Jose',
 'San Juan',
 'San Luis Obispo',
 'Santa Cruz',
 'Santa Maria',
 'Santa Rosa',
 'Scranton',
 'Seattle',
 'Sevierville',
 'Sheridan',
 'Shreveport',
 'Sierra Vista',
 'Somerset',
 'Spartanburg',
 'Spokane',
 'Springfield',
 'St. Cloud',
 'St. Louis',
 'St. Marys',
 'State College',
 'Steamboat Springs',
 'Stockton',
 'Syracuse',
 'Tallahassee',
 'Tampa',
 'Terre Haute',
 'Toledo',
 'Trenton',
 'Tucson',
 'Tulsa',
 'Ukiah',
 'Urban Honolulu',
 'Valdosta',
 'Vallejo',
 'Victoria',
 'Vincennes',
 'Vineland',
 'Visalia',
 'Wabash',
 'Warner Robins',
 'Washington',
 'Washington Court House',
 'Watertown',
 'Wausau',
 'Whitewater',
 'Wichita',
 'Wilmington',
 'Winston',
 'Yakima',
 'York',
 'Yuba City']

In [24]:
#Set index to prepare for dataframe inversion
city_total_df.set_index('City', inplace=True)

In [25]:
city_total_df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
City,,,,,,,,,,,,,,,,,,,,,
Akron,161.090,183.101,181.087,209.093,132.086,123.092,133.091,155.087,143.097,158.097,...,56.759,52.960,47.465,33.260,28.966,31.968,32.262,32.963,33.067,30.170
Albany,0.086,0.086,0.086,0.082,0.080,0.079,0.077,0.080,0.079,0.088,...,63.163,59.561,57.862,53.068,56.361,56.966,54.355,61.954,65.661,49.059
Albuquerque,138.172,129.567,145.464,175.064,146.574,134.870,135.167,145.566,117.072,113.572,...,171.667,185.662,127.066,141.665,122.669,136.174,124.067,141.271,160.571,174.371
Altoona,119.081,100.092,94.079,76.086,103.092,70.091,75.083,73.096,59.094,71.091,...,29.065,30.060,31.069,13.062,7.063,8.064,8.064,4.063,4.061,6.062
Americus,0.082,0.082,0.081,0.080,0.076,0.079,0.082,0.085,0.081,0.084,...,0.060,0.059,0.057,0.065,0.058,0.062,0.062,0.054,0.059,0.059

In [26]:
#Transposing the dataframe
cities_df = city_total_df.transpose()
cities_df.head()

City,Akron,Albany,Albuquerque,Altoona,Americus,Anchorage,Ann Arbor,Appleton,Arkadelphia,Asheville,...,Washington Court House,Watertown,Wausau,Whitewater,Wichita,Wilmington,Winston,Yakima,York,Yuba City
1990,161.090,0.086,138.172,119.081,0.082,9.7,0.025,0.0,0.021,0.073,...,0.025,0.077,0.081,0.077,0.077,0.082,149.084,0.0,212.097,87.076
1991,183.101,0.086,129.567,100.092,0.082,8.4,0.030,0.0,0.018,0.063,...,0.027,0.105,0.081,0.095,0.072,0.083,169.085,0.0,193.100,87.080
1992,181.087,0.086,145.464,94.079,0.081,10.8,0.020,0.0,0.030,0.064,...,0.014,0.083,0.081,0.086,0.070,0.083,133.082,0.0,200.083,87.090
1993,209.093,0.082,175.064,76.086,0.080,9.7,0.021,0.0,0.018,0.066,...,0.031,0.080,0.065,0.079,0.059,0.083,164.092,0.0,190.090,87.078
1994,132.086,0.080,146.574,103.092,0.076,8.6,0.032,0.0,0.021,0.069,...,0.029,0.085,0.064,0.081,0.067,0.082,150.088,0.0,195.082,81.089

In [27]:
#reset the index
cities_df.reset_index(inplace=True)

In [28]:
cities_df.head()

City,index,Akron,Albany,Albuquerque,Altoona,Americus,Anchorage,Ann Arbor,Appleton,Arkadelphia,...,Washington Court House,Watertown,Wausau,Whitewater,Wichita,Wilmington,Winston,Yakima,York,Yuba City
0,1990,161.090,0.086,138.172,119.081,0.082,9.7,0.025,0.0,0.021,...,0.025,0.077,0.081,0.077,0.077,0.082,149.084,0.0,212.097,87.076
1,1991,183.101,0.086,129.567,100.092,0.082,8.4,0.030,0.0,0.018,...,0.027,0.105,0.081,0.095,0.072,0.083,169.085,0.0,193.100,87.080
2,1992,181.087,0.086,145.464,94.079,0.081,10.8,0.020,0.0,0.030,...,0.014,0.083,0.081,0.086,0.070,0.083,133.082,0.0,200.083,87.090
3,1993,209.093,0.082,175.064,76.086,0.080,9.7,0.021,0.0,0.018,...,0.031,0.080,0.065,0.079,0.059,0.083,164.092,0.0,190.090,87.078
4,1994,132.086,0.080,146.574,103.092,0.076,8.6,0.032,0.0,0.021,...,0.029,0.085,0.064,0.081,0.067,0.082,150.088,0.0,195.082,81.089

In [38]:
##Creating a dash app to display a line chart that shows overall pollution by year with a dropdown for each state

# Create a Dash app
app = dash.Dash(__name__)


dropdown_options = [{'label': col, 'value': col} for col in cities_df.columns[1:]]

# Define app layout
app.layout = html.Div([
    dcc.Dropdown(
        id='dropdown-column',
        options=dropdown_options,
        value='Akron'
    ),
    dcc.Graph(id='line-plot')
])

# Define callback to update the line plot
@app.callback(
    Output('line-plot', 'figure'),
    [Input('dropdown-column', 'value')]
)
def update_line_plot(selected_column):
    fig = px.line(cities_df, x='index', y=selected_column)

    return fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True, port = 8050)

The following will include some statistics found from these above data starting with the state level.

In [49]:
state_avg.reset_index(inplace=True)

In [79]:
#What are the best and worst states for pollution?
lowest_pollutant = state_avg['2022'].min()
best_state = state_avg.loc[state_avg['2022'].idxmin(), 'State']
print(f'{best_state} is the state with the lowest overall pollution concentration with a pollutant density value of {lowest_pollutant}.')

most_pollutant = state_avg['2022'].max()
worst_state = state_avg.loc[state_avg['2022'].idxmax(), 'State']
print(f'{worst_state} is the state with the highest overall pollution concentration with a pollutant density value of {most_pollutant}.')

ME is the state with the lowest overall pollution concentration with a pollutant density value of 0.057666666666666665.
OR is the state with the highest overall pollution concentration with a pollutant density value of 145.52075.

In [95]:
#Which states improved and deproved over time the most in pollution concentration?

state_avg['Change_Over_Time'] = state_avg['2022'] - state_avg['1990']

best_change = state_avg['Change_Over_Time'].min()
best_change_state = state_avg.loc[state_avg['Change_Over_Time'].idxmin(), 'State']
print(f'{best_change_state} is the state with the best overall pollution change over time with a pollutant density change of {best_change}.')


worst_change = state_avg['Change_Over_Time'].max()
worst_change_state = state_avg.loc[state_avg['Change_Over_Time'].idxmax(), 'State']
print(f'{worst_change_state} is the state with the worst overall pollution change over time with a pollutant density change of {worst_change}.')

MT is the state with the best overall pollution change over time with a pollutant density change of -87.067.
OR is the state with the worst overall pollution change over time with a pollutant density change of 108.38825.

The following will take a look at the same statistics at the city level.

In [64]:
city_total_df.reset_index(inplace=True)

In [78]:
#What are the best and worst cities for pollution?
low_pollutant = city_total_df['2022'].min()
best_city = city_total_df.loc[city_total_df['2022'].idxmin(), 'City']
print(f'{best_city} is the city with the lowest overall pollution concentration with a value of {low_pollutant}.')

high_pollutant = city_total_df['2022'].max()
worst_city = city_total_df.loc[city_total_df['2022'].idxmax(), 'City']
print(f'{worst_city} is the city with the highest pollution concentration with a value of {high_pollutant}.')

Bellingham is the city with the lowest overall pollution concentration with a value of 0.048.
Eugene is the city with the highest pollution concentration with a value of 506.758.

In [98]:
#Which cities improved and deproved over time the most in pollution concentration?

city_total_df['Change_Over_Time'] = city_total_df['2022'] - city_total_df['1990']

best_change_c = city_total_df['Change_Over_Time'].min()
best_change_city = city_total_df.loc[city_total_df['Change_Over_Time'].idxmin(), 'City']
print(f'{best_change_city} is the city with the best overall pollution change over time with a pollutant density change of {best_change_c}.')


worst_change_c = city_total_df['Change_Over_Time'].max()
worst_change_city = city_total_df.loc[city_total_df['Change_Over_Time'].idxmax(), 'City']
print(f'{worst_change_city} is the city with the worst overall pollution change over time with a pollutant density change of {worst_change_c}.')

Billings is the city with the best overall pollution change over time with a pollutant density change of -309.0.
Eugene is the city with the worst overall pollution change over time with a pollutant density change of 364.68999999999994.

Now we will take a look at some statistics at the individual pollutant level.

In [81]:
# Which states have the lowest and highest O3 concentration?
low_O3 = O3_avg['2022'].min()
best_state_O3 = O3_avg.loc[O3_avg['2022'].idxmin(), 'State']
print(f'{best_state_O3} is the state with the lowest concentration of O3 with a value of {low_O3}')

high_O3 = O3_avg['2022'].max()
worst_state_O3 = O3_avg.loc[O3_avg['2022'].idxmax(), 'State']
print(f'{worst_state_O3} is the state with the highest concentration of O3 with a value of {high_O3}')

HI is the state with the lowest concentration of O3 with a value of 0.044
CT is the state with the highest concentration of O3 with a value of 0.07533333333333332